.App {
  display: flex;
  flex: 1;
}


.main {
  flex: 1;
  text-align: center;
}

/* nav css */
.main-nav {
  flex: 0 0 12em;
  display: flex;
  flex-direction: column;
  text-align: center;
  order: -1;
  height: 100vh;
  background-color: #505583;
}

.nav-links {
  text-decoration: none;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: #686ea8;
}

.nav-links:hover {
  background-color: #7b82c5;
}

/* songs css */
.song {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  background-color: #686ea8;
  border-radius: 5px;
  width: 50%;
  margin: auto;
  margin-bottom: 5px;
  padding: 10px;
  color: #242841;
}
.song-link {
  text-decoration: none;
}

.song:hover {
  background-color: #7b82c5;
}

.song-el {
  padding: 5px;
}

.favorited {
  color: gold;
}

.unfavorited {
  color: grey;
}
